@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-gradient {
    background: linear-gradient(
        to right,
        #1F9C35 20%,  
        #00E62B 30%,  
        #4CAF50 70%,   
        #39D353 80%    
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}